body {

	background-image: url(../Images/new_background_cropped.png);
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.8;
}
.jumbotron {
    height: 500px;
    /*padding-top: 10px;*/
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

/*.login{
	color: #36C6F4;
}*/
.login h3 {
    font-family: sans-serif;
    color: #36C6F4;
    text-align: center;
    font-size: 28pt;
    /*letter-spacing: 1px;*/
    text-align: center;
    margin-bottom: 20px;
}
/* END login area */
/* BEGIN input styling */
input {
   background-color: #EDEEE1;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 4px;
}
input[type=text]{
    color: #AAAAAA;
}
input[type=text]:focus {
    color: #CCCCCC;
}
input#username, input#password {
    margin-bottom: 10px;
}